#page_header.clearfix
  %h2= link_to 'Companies', dashboard_companies_path
  / .page_header_left
  /   = form_for :search, url: search_dashboard_companies_url, id: 'companies-search' do |f|
  /     Search: 
  /     = text_field :search, :query, autofocus: true 
  /     = submit_tag "search"
  .page_header_right= button_to "Add a company", new_dashboard_company_path, method: :get
#page_main
  = render partial: "list" #, locals: {companies: @companies}
/ #new_company_form_holder.modal{style: "display: none;"}
/   = render partial: "new_company_form"
/ #company_form_holder.modal{style: "display: none;"}
/   = render partial: "modal_form_holder"
/ - content_for :sidebar do
/   = render partial: "/dashboard/shared/client_sidebar"

