.cell#video
  .floater
  .white-box
    - if !!@deals && @deals.empty?
      Sorry, we don't have any presents for you in your city.
    - else
      Our records indicate that it's not quite your birthday. We'll send you an email when it's time to celebrate!