h1 #{@user.full_name}'s Birthday is #{pluralize(@user.days_til_next_birthday, 'day')} away!

h2 Throw A Party for #{@user.full_name}

hr

= render 'status', party: @party

= link_to 'Help Contribute', '#', class: 'button'

= render 'transactions/form'
= render 'transactions/list', transactions: @party.transactions