.cell#customer_signin
  .floater
  .container 
    .left
      = image_tag "birthday_deals/worthday_templogo_blue_white_tagline.png"
    .right 
      .form
        = render partial: 'new'
      %h2.bottom_tag    
      Don't have an account?
      = link_to 'Sign Up', new_user_registration_path    