// Place all the styles related to the birthday_parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $light-orange   : #F65E24;

#payment-box {
  display: none;
}
.tab-title {
  width: 50%;
  text-align: center;
}

.tabs .tab-title > a {
  background-color: #FFFFFF;
  padding: 1em;
}

.tab-title p {
  color: #F65E24;
  font-weight: 600;
  margin-bottom: 0;
}

img.fb-img {
  padding: 30px 0 10px 0;
}