// Place all the styles related to the BirthdayDeals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Compass imports & mixins
@import "compass/reset";
@import "base";
@import "foundation_and_overrides";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,800,400,300,200,100);

html {
  position: relative;
  min-height: 100%;
}

body {
  
  // margin: 0 0 45px; /* bottom = footer height */
  section.main-section{min-height: 100%;}
  h1{} 
  h2{}
  h3{}
  h4{
    color: $purple;
    font-weight: 800;
  }
  h5{
    color: $gray;
    font-weight: 800;
  }
  h6{
    color: $purple;
    font-weight: 800;
  }

  font-family: 'Open Sans', sans-serif;
  background: rgb(107,192,236) !important;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiM2YmMwZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-radial-gradient(center, circle cover,  rgba(255,255,255,1) 1%, rgba(107,192,236,1) 63%) !important; /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,rgba(255,255,255,1)), color-stop(63%,rgba(107,192,236,1))) !important; /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, circle cover,  rgba(255,255,255,1) 1%,rgba(107,192,236,1) 63%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, circle cover,  rgba(255,255,255,1) 1%,rgba(107,192,236,1) 63%) !important; /* Opera 12+ */
  background: -ms-radial-gradient(center, circle cover,  rgba(255,255,255,1) 1%,rgba(107,192,236,1) 63%) !important; /* IE10+ */
  background: radial-gradient(circle at center,  rgba(255,255,255,1) 1%,rgba(107,192,236,1) 63%) !important; /* W3C */
  background-repeat:no-repeat;
  background-attachment:fixed;
  
  a { text-decoration: none; }
  .fullwidth {width: 100%;}
  li {list-style-type: none;}
  .center-text {text-align: center;}
} 

#flash_alert, #flash_notice, #flash_error { text-align: center; }

.birthday-box {
  cursor: pointer;
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spaceboots;
  -moz-animation-duration: 0.8s;
  -moz-transform-origin:50% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: spaceboots;
  -o-animation-duration: 0.8s;
  -o-transform-origin:50% 50%;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.white-box {
  background: #fff;

  @include box-shadow(rgba(0, 0, 0, 0.075) 0 1px 1px inset, rgba(169, 169, 169, 1) 0 0 8px);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
     -moz-transition: border linear .2s, box-shadow linear .2s;
      -ms-transition: border linear .2s, box-shadow linear .2s;
       -o-transition: border linear .2s, box-shadow linear .2s;
          transition: border linear .2s, box-shadow linear .2s;

  &:hover {
    @include box-shadow(rgba(0, 0, 0, 0.075) 0 1px 2px inset, rgba(169, 169, 169, 1) 0 0 16px);
  }
}
#details {
  display: none;
  z-index: 200;
  top: 10%;
  span{
    color: $gray;
    font-weight: 100;
  }
  .value{
    // font-family: 'Futura', sans-serif;
    color: $purple;
    font-size: 4em;
    font-weight: 800;
    margin: 0 0 .25em 0;
    sup {
      vertical-align: super;
      font-size: .5em;
    }
  }
  .card-box{
    display: none;
    &.show {
      display: block;
    }

    .hook {
      margin-bottom: 5px;
      text-align: left;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    // .value {
    //   font-size: 4em;
    //   text-align: center;
      
    // }
  }
}


.bottom-buttons {
  background: $light-gray;
  text-align: center;
  font-weight: 800;
  color: $gray;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.big {
  width: 260px !important;
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@-moz-keyframes spaceboots {
  0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
  10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
  40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
  50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
  100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
}
@-o-keyframes spaceboots {
  0% { -o-transform: translate(2px, 1px) rotate(0deg); }
  10% { -o-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -o-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -o-transform: translate(0px, 2px) rotate(0deg); }
  40% { -o-transform: translate(1px, -1px) rotate(1deg); }
  50% { -o-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -o-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -o-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -o-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -o-transform: translate(2px, 2px) rotate(0deg); }
  100% { -o-transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes spaceboots {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(2px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.close {
  color: $gray;
  font-size: 2em;
}

.center {margin: auto;}

table {
  width: 750px;
  margin: auto;
  .colored_row{background: #eee;}
  .blank_row{background: #fff;}
  th {
    font-weight: bold;
  }
}
td,th {
  padding: 5px 10px;
}

.details-button {
  @include button(
    // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
    $button-med,
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
    $purple,
    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
    false,
    // We can set $full-width:true to remove side padding extend width. Default:false
    true,
    // We can set $disabled:true to create a disabled transparent button. Default:false
    false,
    // $is-input - <input>s and <button>s take on strange padding. We added this to help fix that. Default:false
    false
  );
  font-weight: bold;
}

.green-btn {
  background: image-url('check.png') no-repeat center;
  @include button-base;
  @include button-size;
  @include button-style($green, 0, false);
  height: 75px;
  width: 120px;
}

.red-btn {
  background: image-url('x.png') no-repeat center;
  @include button-base;
  @include button-size;
  @include button-style($red, 0, false);
  height: 75px;
  width: 120px;
}

.redeem-btn {
  @include button-base;
  @include button-size;
  @include button-style($green, 0, false);
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 1px;
  
}

#speech-box {
  display: none;
  background: image-url('speech-box.png') no-repeat center;
  margin: 0 auto; 
  text-align: center; 
  top: 10%; 
  position: relative;
  height: 135px;
  width: 350px;
  #words {
    font-family: 'Open Sans' sans-serif;
    color: #3a3a3a;
    position: relative;
    height: 108px;
    width: 332px;
    padding: 30px 10px 10px 10px;
    top: 5px;
    left: 9px;
    font-size: 30px;
    font-weight: 300;
  }
}

.bold-purple{
  font-weight: 800;
  color: $purple;
}

.bold-gray{
  font-weight: 800;
  color: $gray;
}

.header-label{
  margin: -3px -15px;
  background: $light-gray;
  text-align: center;
}

footer{
  background: $purple;
  height: 45px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

footer p{
  padding-top: 10px;
  color: #FFFFFF;
  font-weight: 800;
}

table.barby-barcode { border-spacing: 0; border: none; border-collapse:collapse;}
tr.barby-row {}
td.barby-cell { width: 1px; height: 100px; padding: 0 0 0 0; }
td.barby-cell.on { background: #000; }

