// Place all the styles related to the birthday_parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#payment-box {
  display: none;
}

.tabs .tab-title > a {
  background-color: #FFFFFF;
  padding: 1em;
}

.tab-title p {
  color: $light-orange;
  font-weight: 600;
}

img.fb-img {
  padding: 30px 0 10px 0;
}