/**
*
*= require_self
*= require foundation
*
*/


nav li { padding: 0px 10px; display: inline;}
ul {list-style-type: none;}

// .spend_amount{
//   display: inline !important;
//   width: 50px !important;
// }
// .buy_value{
//   display: inline !important;
//   width: 150px !important;
// }

.go-btn{
  width: 50px;
  height: 37px;
  line-height: 8px;
  margin-top: 21px !important;
  padding: 10px !important;
}

#ui-datepicker-div{
  z-index: 3 !important;
  .ui-datepicker-header{
    padding: 0 5px;
    background: #C3C3C3;
    text-align: center;
  }
  .ui-datepicker-prev{
    float: left;
  }
  .ui-datepicker-next{
    float: right;
  }
}