= javascript_include_tag "https://js.braintreegateway.com/web/3.43.0/js/client.min.js"
= javascript_include_tag "https://js.braintreegateway.com/web/3.43.0/js/hosted-fields.js"

.row.content-row#payment-box
  .medium-10.medium-centered.columns.white-box.form-container
    = form_tag :transactions, method: :post, id: 'checkout-form' do
      #payment_details
        = label_tag :name, 'Name'
        = text_field_tag :name, nil, placeholder: 'First Last'
        = label_tag :card_number, 'Credit Card Number' 
        .input-wrapper
          .hosted-field#card-number
        = label_tag :cvv, 'CVV'
        .input-wrapper
          .hosted-field#cvv
        = label_tag :expiration_date, 'Expiration Date'
        .input-wrapper
          .hosted-field#expiration-date
        = label_tag :postal_code, 'Postal Code'
        .input-wrapper
          .hosted-field#postal-code 
        hr   
        = hidden_field_tag :payment_method_nonce
      = label_tag :amount, 'Transaction Fee'
      = text_field_tag :amount, humanized_money(voucher.birthday_deal.transaction_fee), disabled: true   
      = submit_tag 'Process Payment', class: 'button'  

javascript:
  var form = document.querySelector("#checkout-form");
  var submit = $("input[type='submit']");
  braintree.client.create({
    authorization: "#{@client_token}"
  }, function (clientErr, clientInstance) {
    if (clientErr) {
      // do error stuff
      return;
    }
   braintree.hostedFields.create({
     client: clientInstance,
     styles: {
      'input': {
        'color': '#7d7d7d',
        'font-size': '.875rem',
      }
     },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '1111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: '10/2019' 
      },
      postalCode: {
        selector: '#postal-code',
        placeholder: '12345'
      }
    }
    }, function (hostedFieldsErr, hostedFieldsInstance) {
      if (hostedFieldsErr) {
        // do error stuff
        return;
      }
      submit.removeAttr('disabled');
      form.addEventListener('submit', function(event) {
        event.preventDefault();
        hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
          if (tokenizeErr) {
            // Handle error in Hosted Fields tokenization
            return;
          }
          document.querySelector('input[name="payment_method_nonce"]').value = payload.nonce;
          form.submit();
        });
      });
    });
  });